body {
  background: linear-gradient(127deg,  #fff5d7, rgb(249, 198, 85));
}

#titolo{
	margin-top: 30px;
	font-size: 45px;
	font-family: Droid Serif;
	font-style: italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 15px 15px 15px 0;
  display: inline-block;
  font-family: Droid Serif;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btnPubblicaDevice{
	 float: right;
	 margin-top: 40px;
}

#btnPubblicaContenuto{
	float: right;
	 margin-top: 40px;
}

#btnPubblicaContenuto{
	float: right;
	 margin-top: 40px;
}

#btnModificaContenuto{
	float: right;
	margin-top: 40px;
}

#btnModificaDevice{
	float: right;
    margin-top: 40px;
}

#btnModificaProfilo{
	padding-left: 50px;
	padding-right: 50px;
    margin-top: 40px;
}

#btnEliminaProfilo{
	padding-left: 50px;
	padding-right: 50px;
    margin-top: 40px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 40px;
}

.col-20 {
  float: left;
  width: 15%;
  margin-top: 6px;
  padding-left: 6px;
}

.col-80 {
  float: left;
  width: 80%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-20, .col-80, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}