.body_header{
  background-image: url("/images/sfondoHomeFinale.jpg");
  background-size: cover;
  color:#fec503;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
/*   border-left: 6px solid #fec503; */
  height: 400px;
}

#text_head,h1{
	font-size: 55px;
	padding-top:80px;
	padding-right:60px;	
	font-family: Droid Serif;
	color:white;
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

body {
  background: linear-gradient(127deg,  #fff5d7, rgb(249, 198, 85));
}

#titolo{
	margin-top: 30px;
	font-size: 45px;
	font-family: Droid Serif;
	font-style: italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-bottom: 30px;
	text-align: center;
}

#titolo-form{
	font-family: 'Kaushan Script', cursive; 
	color:#fec503;
}

/*------------------------------------------------------------------

DA controllare e da canellare tutto il superfluo


-----------------------*/



.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}


.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #e7ab3c;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}



/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {
	padding-top: 42px;
	padding-bottom: 10px;
}

.latest-blog .section-title {
	margin-bottom: 55px;
}

.single-latest-blog {
	margin-bottom: 25px;
}

.single-latest-blog img {
	width: 300px;
  height: 150px;
  overflow: hidden;
}

.single-latest-blog .latest-text {
	padding-top: 25px;
}

.single-latest-blog .latest-text .tag-list {
	margin-bottom: 8px;
}

.single-latest-blog .latest-text .tag-list .tag-item {
	font-size: 16px;
	color: #a2a1a1;
	display: inline-block;
	margin-right: 15px;
}

.single-latest-blog .latest-text .tag-list .tag-item i {
	color: #e7ab3c;
}

.single-latest-blog .latest-text a {
	display: block;
}

.single-latest-blog .latest-text a h4 {
	color: #252525;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 16px;
}

.benefit-items {
	border: 1px solid #ebebeb;
	margin-top: 45px;
}

.benefit-items .single-benefit {
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	border-right: 1px solid #F3F4F0;
}

.benefit-items .single-benefit .sb-icon {
	float: left;
	margin-right: 20px;
}

.benefit-items .single-benefit .sb-text {
	display: table;
}

.benefit-items .single-benefit .sb-text h6 {
	color: #252525;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.benefit-items .single-benefit .sb-text p {
	margin-bottom: 0;
	color: #252525;
	line-height: 20px;
}


/*---------------------
  Team
-----------------------*/
.team__item img {
	width: 100%;
  	height: 100%;
}


.team {
  padding-bottom: 190px;

}

.section-title.team__title {
  margin-bottom: 150px;
  margin-top: 150px;
  margin-right: 800px;
  
}

.team__item {
  height: 390px;
  position: relative;
  overflow: hidden;
}
.team__item:hover .team__item__text {
  bottom: 0;
}
.team__item.team__item--second {
  margin-top: -60px;
}
.team__item.team__item--third {
  margin-top: -120px;
}
.team__item.team__item--four {
  margin-top: -180px;
}

.team__item__text {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -500px;
  width: 100%;
  padding: 50px 0 30px;
  z-index: 1;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.team__item__text:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(/images/jumbotron.jpg);
  content: "";
  z-index: -1;
}
.team__item__text h4 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team__item__text p {
  color: #ffffff;
  font-weight: 300px;
  margin-bottom: 12px;
}
.team__item__text .team__item__social a {
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  margin-right: 18px;
}
.team__item__text .team__item__social a:last-child {
  margin-right: 0;
}




















