body {

  background: linear-gradient(130deg, #e9fde8,  #e7f7fe);
}

/* background: linear-gradient(110deg, rgb(190, 245, 224), rgb(255, 240, 192)); */
/*  background: linear-gradient(100deg,  rgb(208, 251, 235), rgb(254, 248, 227) ); */
/* background: linear-gradient(110deg, rgb(190, 245, 224), rgb(255, 240, 192)  */

#logo{
	font-family: 'Kaushan Script', cursive; 
	color:#fec503;
	font-size: 30px;
	margin-right: 15px;
	text-decoration: none;	
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fec503;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
	background-color: rgb(245, 190, 1);
}

.loginIcon{
	color: #ffffff;
	cursor: pointer;
}

.titolo-loginForm{
	font-family: 'Kaushan Script', cursive; 
	color:#fec503;
	padding: 0px 0px 0px 0px;
}
.myform{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}
.tx-tfm{
	text-transform:uppercase;
}
.mybtn{
	border-radius:50px;
}

.login-or {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.google {
	color:#666;
	width:100%;
	height:40px;
	text-align:center;
	outline:none;
	border: 1px solid lightgrey;
}
 form .error {
	color: #ff0000;
}
#second{
	display:none;
}
.newsletter{
	border-right: 10px;
}

#parametriPSW{
	font-size: 12px;
	color: grey;
}

#titolo{
	margin-top: 30px;
	font-size: 45px;
	font-family: Droid Serif;
	font-style: italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-bottom: 30px;
	text-align: center;
}






.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 32px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}