#logo{
	font-family: 'Kaushan Script', cursive; 
	color:#fec503;
	font-size: 30px;
	margin-right: 15px;
	text-decoration: none;	
}

.p {
  font-family: "Times New Roman";
  font-size: 45px;
  text-align: center;
}