html, body {
  background: linear-gradient(to right, rgb(249, 198, 85), #fff5d7);
  font-family: Abel, Arial, Verdana, sans-serif;
}

#titolo{
	margin-top: 30px;
	font-size: 45px;
	font-family: Droid Serif;
	font-style: italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.center {
  position: absolute;
  top: 50%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 750px;
  height: 300px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 200px;
  height: 100%;
  background: linear-gradient(#004D81, #74FBEA); /* colori mix scheda (arancione e verde) */
  transition: width 0.3s;
  overflow: hidden;
  z-index: 2;
}

/* scorrimento slide*/
.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}



.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 550px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}


.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card .additional .coords span + span {
  float: right;
}



.card .general {
  width: 450px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 5;
}




