.container{
	margin-bottom:25px;
}

#titolo{
	margin-top: 30px;
	font-size: 45px;
	font-family: Droid Serif;
	font-style: italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card {
	box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2); /*ombra fissa*/
	transition: 0.3s;
	height: 400px;   
	max-width: 250px;
	min-width: 200px;
	margin-bottom:50px;
	
}

.card:hover {
	box-shadow: 0 8px 30px 0 rgba(0,0,0,0.2); /*effetto sull'ombra*/
 }

img {
	
	max-height: 200px;
	margin-top:50px;
	margin-left: 20%;
 }
 
.img-hover-zoom {
	overflow: hidden; /*!-- nascondi l'mmagine che fuoriesce dal bordo */
	border-radius: 30px 30px 0px 0px;
}

.img-hover-zoom--basic img { 
	transition: transform .5s ease; /*tipo di transizione*/      
}

.img-hover-zoom--basic:hover img { /* applica l'evento del mouse */
	transform: scale(1.3);  /*effetto : ingrandisci*/
}


/* --------- scheda tecnica singola (tabella) ------- */

body {
  background: linear-gradient(to right, rgb(249, 198, 85), #fff5d7);
}

/*  body * { */
/* 	 box-sizing: border-box; */
/* } */

 .header {
	 background-color: #eab425;
	 color: white;
	 font-size: 2.5em;
	 padding: 1rem;
	 text-align: center;
	 text-transform: uppercase;
}
 .table-users {
	 border: 1px solid #d9b953;
	 border-radius: 10px;
	 box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	 max-width: calc(100% - 2em);
	 margin: 1em auto;
	 overflow: hidden;
	 width: 800px;
}
 table {
	 width: 100%;
}
 table td, table th {
	 color: #6c601e;
	 padding: 10px;
}
 table td {
	 text-align: center;
	 vertical-align: middle;
}
 table td:last-child {
	 font-size: 0.95em;
	 line-height: 1.4;
	 text-align: center;
}
 table tr:nth-child(2n) {
	 background-color: white;
}
 table tr:nth-child(2n+1) {
	 background-color: rgb(247, 243, 232);
}
 


